html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.textorodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

* {
    font-family: Arial, sans-serif;
}


#rodapé {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rodapé p {
    margin-bottom: 1%;
    margin-top: 1%;
}

.coluna-30icon {
    width: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna-30 {
    width: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linhalogo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.linha2 {
    padding-top: 2%;
    display: flex;
    height: 10%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.linha3 {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.linha4 {
    display: flex;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
}

.select-input{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    font-size: 150%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

.text_area{
    width: 60%;
    height: 400px;
    font-size: 150%;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
}

.form1 {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form2 {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form3 {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-form{
    width: 90%;
    height: 100%;
    font-weight: bold;
    font-size: 150%;
    border-style: solid;
    border-width: 2px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-blo
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.text-input {
    text-align: center;
}
